<div class="pealkiri"><h2>{{Article.title}}</h2> </div>

<div *ngFor="let post of posts | async">
  {{Article}}
</div>

<div class="intro"><p> 
  Elit sagittis nascetur fames interdum ridiculus suspendisse inceptos class ultrices, turpis ornare pretium leo himenae
</p> </div>

<div class="image"></div>

<div>
  <p>Viverra at nec maximus natoque et gravida tempor velit urna inceptos, porttitor non id diam venenatis justo auctor feugiat metus himenaeos, ipsum blandit accumsan platea massa lorem lobortis dis aenean. Faucibus odio class enim sagittis ex consequat ornare ante sed facilisis phasellus torquent, nisl cursus adipiscing pretium vehicula nulla ridiculus lacinia luctus vivamus inceptos. Maximus dis potenti purus fames malesuada cubilia at, inceptos vulputate morbi consequat dignissim eget natoque facilisis, dictumst aenean nascetur arcu aliquet odio.</p>

  <p>Viverra at nec maximus natoque et gravida tempor velit urna inceptos, porttitor non id diam venenatis justo auctor feugiat metus himenaeos, ipsum blandit accumsan platea massa lorem lobortis dis aenean. Faucibus odio class enim sagittis ex consequat ornare ante sed facilisis phasellus torquent, nisl cursus adipiscing pretium vehicula nulla ridiculus lacinia luctus vivamus inceptos. Maximus dis potenti purus fames malesuada cubilia at, inceptos vulputate morbi consequat dignissim eget natoque facilisis, dictumst aenean nascetur arcu aliquet odio.</p>

  <p>Viverra at nec maximus natoque et gravida tempor velit urna inceptos, porttitor non id diam venenatis justo auctor feugiat metus himenaeos, ipsum blandit accumsan platea massa lorem lobortis dis aenean. Faucibus odio class enim sagittis ex consequat ornare ante sed facilisis phasellus torquent, nisl cursus adipiscing pretium vehicula nulla ridiculus lacinia luctus vivamus inceptos. Maximus dis potenti purus fames malesuada cubilia at, inceptos vulputate morbi consequat dignissim eget natoque facilisis, dictumst aenean nascetur arcu aliquet odio.</p>

</div>